/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  // border-bottom: 1px solid #bbb;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 1%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  // font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-code-font-family;
  @include relative-font-size(0.82);
  border: 2px solid $code-border-color;
  border-radius: 0.5px;
  background-color: $code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

pre > code {
  background-color: $code-background-color;
  color: $code-block-color;
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 2px solid $code-background-color;
  tr {
    &:nth-child(even) {
      background-color: #192236; //lighten(#1a212d, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-dark, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

// border: 2px solid $code-border-color;
// border-radius: 0.5px;
// background-color: $code-background-color;

#posts .post-date-head {
  text-transform: uppercase;
  // color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
}

#posts .post-date {
  text-transform: uppercase;
  // color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
#posts .post-title {
  display: inline-block;
  margin-bottom: 0;
}
#posts .post-title a {
  // font-size: 18px;
  color: #fffce6;
  text-decoration: none;
}

#posts .post-title a:hover {
  text-decoration: underline;
}
#posts .post-subtitle {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 5px;
  line-height: 1.5em;
}
#posts .year {
  font-size: 18px;
  position: relative;
  right: 100px;
  color: rgba(0, 0, 0, 0.5);
  width: 100px;
  margin-bottom: -24px;
}

.clear {
  clear: both;
}

.front-matter {
  padding: 20px 0;
  border-bottom: 1px solid #bbb;
  margin-bottom: 42px;
}

.front-matter h4 {
  font-family: $base-font-family;
  color: $grey-color-medium;// #bbb;
  // font-weight: bold;
}

.front-matter .bylines .byline {
  margin-right: 20px;
  float: left;
}
.front-matter .bylines .byline h3,
.front-matter .bylines .byline p {
  margin: 0;
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.front-matter .bylines .byline h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #556aaa;
  // color: rgba(0, 0, 0, 0.5);
}

.front-matter .bylines .byline p {
  line-height: 1.6em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.article {
  // font-size: 15px;
  // line-height: 1.6em;
  // color: rgba(0, 0, 0, 0.8);
  // margin-top: 42px;
  margin-bottom: 42px;
}
.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}
.article h1 {
  // border-bottom: 1px solid #bbb;
  // color: #fffce6;
  padding-bottom: 0.5rem;
  padding-top: 0.5em;
}
.article h2 {
  color: $grey-color-medium;
  // text-transform: uppercase;
  // font-weight: bold;
  font-size: 26px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.5rem;
  padding-top: 0.5em;
}

.article h3 {
  color: $grey-color-medium;
  // text-transform: uppercase;
  font-weight: bold;
  // font-size: 26px;
  padding-bottom: 0.5rem;
  padding-top: 0.5em;
}


.article .figure {
  border-top: 1px solid #bbb; // hsla(0, 0%, 0%, 0.2);
  // border-bottom: 1px solid #bbb; // hsla(0, 0%, 0%, 0.2);
  // padding: 20px 0;
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
}

.article .figure .caption {
  padding-top: 15px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2em;
}

.article .figure .caption-label {
  font-weight: bold;
}
.article .footnote {
  line-height: 0;
}
.article div.highlight {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 1.3em;
}
.article ul {
  padding: 0 15px;
}
.article hr {
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  margin: 33px auto;
  width: 70px;
}

.theorem {
  display: block;
  font-style: italic;
  font-size: 24px;
  // font-family: "Times New Roman";
  color: $text-color;
  border-radius: 10px;
  background-color: $background-color; 
  // box-shadow: 5px 10px 8px #888888;
}
.theorem::before {
  content: "Theorem. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  min-width: fill-available;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(38, 38, 134);
}
.theorem[text]::before {
  content: "Theorem (" attr(text) ") ";
}
.theorem p {
  padding: 15px 15px 15px 15px;
}

.defn {
  display: block;
  font-style: italic;
  font-size: 24px;
  // font-family: "Times New Roman";
  color: $text-color;
  border-radius: 10px;
  background-color: $background-color; 
  // box-shadow: 5px 10px 8px #888888;
}
.defn::before {
  content: "Definition. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  min-width: fill-available;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(38, 38, 134);
}
.defn[text]::before {
  content: "Definition (" attr(text) ") ";
}
.defn p {
  padding: 15px 15px 15px 15px;
}